$colorTeal: #008080;
$colorLightBlue: #8ecae6;
$colorDarkBlue: #023047;
$colorLightOrange: #ffb703;
$colorOrange: #fb8500;
$colorYellow: #ffd60a;
$colorOlive: #606c38;
$colorDarkOlive: #283618;
$colorRed: #d90429;
$colorGold: #ffd700;

